body {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Ensure full viewport height */
    margin: 0;
    padding: 0;
}
  
  .form-container {
    background-color:rgb(255, 255, 255);
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center; /* Center text content within the container */
    margin: auto; /* Center the container horizontally */
    /* color: aliceblue; */
   
  }
  
  .form-container h1 {
    text-align: center; /* Center heading text */
    margin-bottom: 20px;
      color:#ff5722 ;
  }
  .form-container .form-label {
    text-align: left;
    display: block;
    margin-left: 0px;
  }
  .button-style{
    margin-top: 20px;
    border-radius: 5px;
  }
  button{
    background-color: #ff5722;
    border: none;
    padding: 5px 10px;
    color: white;
  }
  button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
