body {
    background-color: white;
    font-family: 'Arial', sans-serif;
  }
  
  .btn-warning {
    background-color: #ff9800;
    border: none;
    transition: background-color 0.3s;
  }
  .btn-warning:hover {
    background-color: #e68900;
  }
  .card {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border-top: 1px solid #ff5722;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .card-img-top {
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
  }
  .card-body {
    text-align: left;
    padding: 0 15px;
    flex-grow: 1;
  }
  .card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
    color: #333;
  }
  .btn-view {
    background-color: #ff5722;
    color: white;
    transition: background-color 0.3s;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
  }
  .btn-view:hover {
    background-color: #e64a19;
  }
  .container-menu {
    max-width: 900px;
    margin: auto;
  }
    .carousel-container {
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    margin: auto;
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }